.header {
  text-align: center;
  margin: 20px 0;
  background-color: #020444;
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 40px;
margin-top: 0px;
 
}

.header h1 {
  font-size: 40px;
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

.header h2 {
  font-size: 32px;
  margin: 0;
  color: white;
}
